body{
    background: #f2f2f2;

}
a{
    text-decoration: none;
}
.content-wrap,.header{
    width: 800px;
    margin: 0 auto;
}
.header-wrap{
    background-color: #333333;
}
.title{
    font-family:"Microsoft YaHei", "微软雅黑","宋体";
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
}
.header{
    position : relative;
    color: #ffffff;
    padding-bottom: 20px;
}
.header a{
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    background: #0090ff url("../images/blacktocat.png")  95% center no-repeat ;
    padding: 10px 50px 10px 10px;
    /*height: 30px;*/
}
.header h2{
    padding-top: 20px;
}
.component h1{
    border-bottom: 1px dashed #aaa;
    height: 38px;
    line-height: 38px;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.component{
    margin-top: 20px;

}
.component .first{
    margin-left: 10px;
}
.component ul{
    float: left;
    width: 195px;
    /*background-color: #fff;*/
    /*padding-right: 20px;*/
}
.component li{
    height: 1.5em;
    line-height: 1.5em;
    font-size: 14px;
}
.component li a{
    color: #373737;
    display: block;
}

.component li a:hover{
    text-decoration: underline;
    color: #E67902;
    background: #BAB8B4;;
}